<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-secondary">{{ message }}</div>
  {% endfor %}
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    {% if 'username' not in session %}
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    {% endif %}
    {% if 'username' in session %}
    <li><a class="nav-link" href="/users/{{session['username']}}">View Profile {{session['username']}}</a></li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    {% endif %}
   
  </ul>
    {% block content %}BODY CONTENT GOES HERE{% endblock %}
  </div>
<script src="/static/app.js"></script>
</body>
</html>